.banner{
    display: flex;
    width: 100%;
    margin-bottom: 140px;
    &-links{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        width: 20%;
        border-right: 1px solid rgb(185, 184, 184);
        padding: 40px 16px 0 0;
    }
    &-link{
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            font-size: 14px;
        }

    }
    &-wrapper{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #000000;
        color: #fff;
        margin: 40px 0 0 45px;
        padding: 16px 0 0 64px;
    }
    &-info{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-text{
        font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FAFAFA;
        display: flex;
        align-items: center;
        gap: 14px;
        i{
            font-size: 49px;
        }
        
    }
    &-title{
        font-family: Inter;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 4%;
        max-width: 274px;
        
    }
    &-route{
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FAFAFA;
        display: flex;
        align-items: center;
        gap: 11px;
        text-decoration: none;
        border-bottom: 1px solid #FAFAFA;
        padding-bottom: 4px;
        width: 118px;
        transition: .3s linear;
        &:hover{
            i{
                padding-left: 8px;
            }
        }
        i{
            font-size: 20px;
            transition: .3s linear;
        }

    }
    &-img{
        img{
            width: 500px;
        }
    }
}
.sbanner{
    background: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 69px 44px 69px 56px;
    &-btn{
        font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        background: #00FF66;
        padding: 16px 48px;
        border: none;
        border-radius: 4px;
        color: #FAFAFA;
        text-decoration: none;
    }
    &-info{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
        span{
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #00FF66;

        }
        
    }
    &-title{
        font-family: Inter;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: 4%;
        max-width: 440px;

    }
    &-times{
        display: flex;
        gap: 24px;
    }
    &-time--box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        // padding: 14px 15px;
        width: 62px;
        height: 62px;
        border-radius: 50px;
        h2{
            font-family: Poppins;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #000000;

        }
        P{
            font-family: Poppins;
            font-weight: 400;
            font-size: 11px;
            line-height: 18px;
            color: #000000;

        }
    }
    &-img{
        position: relative;
    }
    &-blur{
        width: 400px;
        height: 400px;
        background: #D9D9D9;
        filter: blur(300px);
    }
    img{
        position: absolute;
        width: 800px;
        // height: 420px;
        object-fit: contain;
        right: -80px;
        // top: 100px;
        // bottom: 0;
        bottom: -180px;
    }
}